<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ('./common/head') %>
    <link rel="stylesheet" href="css/login.css" />
    <title>N-blog</title>
  </head>
  <body>
    <%- include ('./common/header') %>

    <div class="sec__wrap">
      <section class="sec__login">
        <div class="login__img-wrap">
          <img src="images/login.png" alt="" class="login__img" />
        </div>

        <div class="login__wrap">
          <h1 class="login__title">로그인</h1>

          <form action="/users/login" method="post" class="login__form">
            <div class="login__input-wrap">
              <span class="blind">이메일</span>
              <input
                type="email"
                name="email"
                placeholder="이메일"
                class="input input--email"
              />
              <%- include ('../public/images/icon/user.svg') %>
            </div>

            <div class="login__input-wrap">
              <span class="blind">비밀번호</span>
              <input
                type="password"
                id="password"
                name="pw"
                placeholder="비밀번호"
                class="input input--pw"
              />
              <%- include ('../public/images/icon/password.svg') %>
            </div>

            <button type="submit" class="btn login__btn login__btn--submit">
              로그인
            </button>
          </form>

          <ul class="login__list login__list-find">
            <li class="list-find__item">
              <a href="" class="list-find__link">아이디 찾기</a>
            </li>
            <li class="list-find__item">
              <a href="" class="list-find__link">비밀번호 찾기</a>
            </li>
          </ul>

          <h2 class="list__title">or</h2>
          <ul class="login__list">
            <li>
              <a href="" class="btn login__btn login__btn--google">
                <%- include ('../public/images/icon/google.svg') %> google
                로그인
              </a>
            </li>
            <li>
              <a href="" class="btn login__btn login__btn--facebook">
                <%- include ('../public/images/icon/facebook.svg') %> facebook
                로그인
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <script>
      const state = <%= state %>;
      window.onload = () => {
        if (state === 0) {
          alert('회원가입이 완료되었습니다.');
        } else if (state > 1) {
          alert('로그인에 실패했습니다.');
        }
      }
    </script>
  </body>
</html>
